body {
  background: black;
}

h3 {
  color: white;
  font-size: 100px;
  text-align: center;
  margin-right: 0px;
  text-decoration: none;
  position: relative;
  margin-bottom: 0px;
  font-family: 'Iceland';
      color: #1e90ff;
  
  background: url('http://cdn.wallpapersafari.com/15/44/gSXDHi.jpg') center center;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

h4 {
  color: white;
  font-size: 30px;
  text-align: center;
  margin-right: 0px;
  text-decoration: none;
  position: relative;
  margin-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  color: white;
  font-size: 50px;
  text-align: center;
  margin-right: 0px;
  text-decoration: none;
  position: relative;
  margin-bottom: 0px;
font-family: 'Monoton', cursive;
}
p {
    position: absolute;
    color: #1e90ff;
  
  background: url('http://orig02.deviantart.net/2151/f/2016/027/5/c/wallpaper_geometric_red_2k_uhd_by_airworldking-d9okt4k.png') center center;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
  
  
  font-family: 'Rubik';
  font-size: 50px;
  
  text-decoration: none;
  
  bottom: 1px;
  right: 7px;
}
